extends layout.pug 

block content
    h2 Contacto
    .row 
        .col-12.col-md-3  
            p Columna 1
        .col-12.col-md-3  
            p Columna 2
        .col-12.col-md-3  
            p Columna 3
        .col-12.col-md-3  
            p Columna 4

block footer 
    p Footer de contacto 